* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    background-color: #fff;
    margin: 0;
}

.inter,body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
    color: #000;
}

.inter,body a:visited {
    color: #000;
    text-decoration: none;
}

.inter,body a:link {
    color: #000;
    text-decoration: none;
}

.inter,body a:hover {
    color: #d9d9d9;
    transition: color 0.3s ease;
}

.header {
    width: 100%;
    height: 350px;
    background-color: #fff; /* Example background color */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px;
}
.profile-picture {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 1px solid #000000;
    background-image: url('/my-portfolio/picture/profile.jpeg'); /* Default profile picture */
    background-size: cover;
    background-position: center;
}
.name {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
    margin-bottom: -60px;
}

.name p {
    font-weight: 300;
    letter-spacing: 0.1em;
}

.menu-bar {
    width: 100%;
    max-width: 1512px;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #000000;
    margin: 0 auto;
    position: relative;
    top: 0px;
    transition: top 0.3s ease-in-out;
}

.menu-container {
    max-width: 740px; 
    width: 100%;
    display: flex; 
    justify-content: space-around;
}

.menu-container a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    letter-spacing: 2px;
    text-align: center;
    display: inline-block;
    width: 740px;
    position: relative;
    padding: 10px;
}

.menu-container a:hover{
    color: #d9d9d9;
    transition: color 0.3s ease;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px;
}
 

.section {
    /* height: 600px;  */
    padding: 20px;
}

.section-abt {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: auto; 
    background-color: #fff; 
    padding: 20px;
}

.abt-container {
    width: 650px; 
    height: auto; 
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #000;
    padding: 20px; 
    /* background-color: #ffffff;  */
    text-align: left; 
}

#project {
    background-color: #F4F4F4;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
}

.project-container {
    display: flex;
    width: 650px;
    margin: 0 auto;
    padding: 20px;
}

.project-left {
    width: 40%;
    padding-right: 20px;
}
.project-left h2 {
    font-size: 16px;
    margin-bottom: 10px;
}
.project-left p {
    font-size: 14px;
}
.project-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-box {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.project-box a {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}
/* .project-box a:hover {
    color: #d9d9d9;
} */
.project-box p {
    font-size: 12px;
    margin-top: 5px;
}

#design {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.design-container {
    display: flex; 
    flex-wrap: wrap;
    width: 1100px; 
    margin: 20px auto; 
    /* align-items: center; */
}

.design-left {
    flex: 1; 
    padding-right: 20px; 
    margin-top: 50px;
    
}

.design-left h2 {
    font-size: 16px;
    margin-bottom: 10px;
}


.design-left p {
    font-size: 14px;
    margin-top: 5px;
}

.design-right {
    flex: 2; 
    width: 100%;
    max-width: 950px;
}

.slideshow-container {
    width: 100%;
    max-width: 945px; 
    max-height: 400px; 
    overflow: hidden; 
    position: relative; 
    
}


.mySlides img {
    width: 100%;
    height: 400px;
    object-fit: contain;
}

.dot-container {
    text-align: center; 
    margin-top: -20px; 
}

.dot {
    height: 10px; 
    width: 10px; 
    margin: 0 2px; 
    background-color: #bbb; 
    border-radius: 50%; 
    display: inline-block; 
    cursor: pointer; 
}

.dot:hover {
    background-color: #d9d9d9; 
}

.active {
    background-color: #d9d9d9; 
}

img {
    width: 100%; 
    height: auto;
    
}

.footer {
    background-color: #000;
    width: 100% auto;
    height: 90px;
    padding: 50px;
}

.footer p {
    color: #fff;
    text-align: center;
    font-size: 14px;
}

@media (max-width: 768px) {

    .hamburger {
        display: flex;
        position: fixed;
        background-color: #fff;
        z-index: 2000;
    }

    .menu-bar {
        display: none;
        flex-direction: column;
        width: 100%;
        position: relative;
        top: 50px;
        left: 0;
        background-color: #fff;
        z-index: 10;
        text-align: center;
    }
    .menu-container {
        flex-direction: column;
        width: 100%;
        border-bottom: 1px solid #d9d9d9;
    }
    .menu-container a {
        padding: 10px;
        display: block;
        background-color: #fff;
        z-index: 1000;
               
    }

    .menu-bar.mobile {
        display: flex;
        position: fixed;
        
    }

    .sticky {
        position: fixed;
        display: none;
        top: 0px;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .header {
        display: flex;
        margin-bottom: -50px;
    }


    .design-container {
        flex-direction: column;
        
    }
    .design-left {
        padding-right: 0;
        padding-bottom: 20px;
    }
    
    .design-right {
        width: 100%;
        order: 1;
        height: auto;
    }

    .slideshow-container {
        max-width: 100%;
        margin-top: -30px;
        height: auto;
    }

    .mySlides img {
        min-width: 100%;
    }

    .dot-container {
        max-width: 100%;
        padding-bottom: 20px;
        margin-top: -40px;
        align-items: center;

    }

    .project-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .project-left {
        padding-right: 0;
        padding-bottom: 20px;
    }

    .project-box {
        width: 100%;
        height: auto;
    }

}

